.shopcard
{
    width: 25%;
    margin: 1%;
    height: 25%;


}


.square {
    position: relative;
    width: 25%;
  }
  
  .square:after {
    content: "";
    display: block;
    padding-bottom: 100%;
  }
  
  .content {
    position: absolute;
    width: 100%;
    height: 100%;
  }